@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400&display=swap");

.loading {
  height: 100%;
  font-size: 30px;
  padding: 300px;
}

.grid {
  white-space: nowrap;
  overflow: auto;
  padding: 70px 20px 10px 20px;
  text-align: left;
}

.drinkscont {
  width: 100%;
}

.head {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  font-family: "Cherry Swash", cursive;
  font-size: 37px;
  font-weight: 600;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Cherry Swash", cursive;
  font-weight: 700;
}

.card {
  margin: 0;
  box-shadow: 12px 10px 12px 3px rgba(230, 228, 224, 0.18);
  padding: 15px;
  transition: 1s;
  border-radius: 33px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.cardInfo {
  margin: 0;
  box-shadow: 12px 10px 12px 3px rgba(230, 228, 224, 0.68);
  padding: 15px;
  transition: 1s;
  border-radius: 33px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.line {
  width: 76%;
  text-align: left;
  margin-left: 12.5%;
  margin-bottom: 50px;
  height: 1.3px;
  opacity: 1;
}

.description {
  font-size: 13px;
}

@media (max-width: 810px) {
  .drinkscont {
    width: 100%;
  }
}
