.title {
  font-size: 1.25rem;
  color: black;

  width: 100%;
  margin-bottom: 50px;

  box-shadow: 3;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.67em;
  padding-bottom: 30px;
}

.footer {
  color: #707071;
  background-color: #f8f9fa;
  padding: 15px;
  font-size: 13px;
}

@media (max-width: 810px) {
  .title {
    font-size: 3em;
  }
}
