.background {
  display: block;
  background-color: #eae9e5;
  z-index: -1000;
}

@keyframes stargazing {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 500px;
  }
}
